<%- include('partials/header') %>
<div class="jumbotron">
  <h1 class="display-4">Log In to Your Account</h1>
  <p class="lead">
    Welcome back! Log in to access your account and explore our platform.
  </p>
  <hr class="my-4" />
  <div class="lead">
    <form class="form" method="POST" action="/user/login">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          required
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Enter your email address"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          required
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Enter your password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <a href="/signup" class="btn btn-secondary">Sign Up</a>

    <!-- Dialog to display messages -->
    <% if (locals.message) { %>
    <div class="dialog"><%= message %></div>
    <% } %>
  </div>

  <script>
    const message = document.querySelector(".dialog").innerText.trim();
    if (message) {
      const dialog = document.querySelector(".dialog");
      dialog.style.display = "block";
      setTimeout(() => {
        dialog.style.display = "none";
      }, 3000);
    }
  </script>
</div>

<%- include("partials/footer") %>
